<h1>Student information:</h1>                                                                                                                                                                                  
                                                                                                                                                                                                                    
<%= render 'form' %>                                                                                                                                                                                                
                                                                                                                                                                                                                    
<%= link_to 'Home Page', posts_path %>   
