<h1>Welcome to Bueller Student Management!</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Image URL </th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.name %></td>
      <td><%= post.nickname %></td>
      <td><%= post.email %></td>
      <td><%= post.image %></td>
    </tr>
  <% end %>
</table>
