<h1> </h1>
<%= link_to users_path, :class => "btn btn-default" do %>Home Page<% end %>
<p>
  <strong>Seat:</strong>
  <%= @attendance.seat %>
</p>
 
<p>
  <strong>Attended On:</strong>
  <%= @attendance.attended_on %>
</p>